<!doctype html>
<html lang="en">

<head>
	<title>Admin Dashboard | Welcome To The Isaiah Project</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<!-- <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script> -->
	<link rel="stylesheet" href="/userasset/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/userasset/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/userasset/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/userasset/vendor/chartist/css/chartist-custom.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/userasset/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="/userasset/css/demo.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/userasset/img/apple-icon.png">
     <script type="text/javascript" src='/ckeditor/ckeditor.js'>
	</script>
	<link rel="icon" type="image/png" sizes="96x96" href="/userasset/img/favicon.png">
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
	  <script type="text/javascript">
		google.charts.load('current', {'packages':['bar']});
		google.charts.setOnLoadCallback(drawChart);
  
		function drawChart() {
		  var data = google.visualization.arrayToDataTable([
			['Top Priority', 'Stopping bad spending habits', 'Investing', 'Retiring','Financial Genrosity','Buying the things you really want in life'],
			['1st Priority', 1000, 400, 200,50,1100],
			['2nd Priority', 1170, 460, 250,90,450],
			['3rd Priority', 660, 1120, 300,380,770],
			['4th Priority', 1030, 540, 350,110,1050],
			['5th Priority', 801, 330, 750,900,320]
		  ]);
  
		  var options = {
			chart: {
			 
			  subtitle: 'User Priority Survey Report',
			}
		  };
  
		  var chart = new google.charts.Bar(document.getElementById('columnchart_material'));
  
		  chart.draw(data, google.charts.Bar.convertOptions(options));
		}
	  </script>

</head>
<style>
	.ellipsis {
    max-width: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

</style>
<body>
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="/userasset/img/logo.png" style="width: 100px; height: 21px;" alt="The Isaiah Project" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>
			
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">How to Use</a></li>
								<li><a href="#">Security Policy</a></li>
							
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/userasset/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<!-- <li><a href="/admin/profile"><i class="fa fa-user"></i> <span>My Profile</span></a></li> -->
								<li><a href="/admin/update/pass"><i class="fa fa-key"></i> <span>Change Password</span></a></li>
								<li><a href="/admin/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="#" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="/admin/user/view" class=""><i class="fa fa-user"></i> <span>Users </span></a></li>
						<li><a href="/admin/view" class=""><i class="fa fa-user-secret"></i> <span>Admin </span></a></li>
						<li><a href="#" class=""><i class="fa fa-users"></i> <span>Groups </span></a></li>
						<li><a href="/admin/newsletter" class=""><i class="fa fa-newspaper-o"></i> <span>News Letter</span></a></li>
						<li><a href="/admin/notification" class=""><i class="fa fa-bell"></i> <span>Notifications</span></a></li>
						
						<li>
							<a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Transactions</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse ">
								<ul class="nav">
									<li><a href="#" class="">Mother Account</a></li>
									<li><a href="#" class="">Pass-through Account</a></li>
									<li><a href="#" class="">Transaction By Users</a></li>
								</ul>
							</div>
						</li>
						<li><a href="/admin/contacts" class=""><i class="lnr lnr-phone-handset"></i> <span>Manage Contacts</span></a></li>
						<li><a href="/admin/surveys/list" class=""><i class="fa fa-bar-chart"></i> <span>Surveys</span></a></li>
						<li><a href="/admin/lock" class=""><i class="lnr lnr-lock"></i> <span>Lock</span></a></li>
						
					</ul>
				</nav>
			</div>
		</div>