
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> The Isaiah Project</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="images/logo.png" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100i,200,300,400,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- owl-carousel CSS -->
    <link rel="stylesheet" type="text/css" href="css/owl-carousel/owl.carousel.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />
    <!-- Animate CSS -->
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="css/export.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="css/line-awesome.min.css" />
    <!-- media element player -->
    <link rel="stylesheet" type="text/css" href="css/mediaelementplayer.min.css" />
    <!-- Timeline CSS -->
    <link rel="stylesheet" type="text/css" href="css/timeline.min.css">
    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<style>
/*.container {
  padding: 2rem 0rem;
}*/

@media (min-width: 576px){
  .modal-dialog {
    max-width: 400px;
  }
    .modal-content {
      padding: 1rem;
    }
  
}

.modal-header {
  .close {
    margin-top: -1.5rem;
  }
}

.form-title {
  margin: -2rem 0rem 2rem;
}

.btn-round {
  border-radius: 3rem;
}

.delimiter {
  padding: 1rem;  
}

.social-buttons {
  .btn {
    margin: 0 0.5rem 1rem;
  }
}

.signup-section {
  padding: 0.3rem 0rem;
}
 
	</style>


<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <div class='loader loader2'>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- loading End -->
    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white; color:black;">
                        <a class="navbar-brand" href="#">
                                <img src="images/logo.png" class="img-fluid" alt="The Isaiah Project" >
                            </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="la la-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto w-100 justify-content-end">
                                <li class="nav-item">
                                    <a class="nav-link " href="#home">Home</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link " href="#ico">Foundations</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#product">Features</a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" href="#road">Essential</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#team">Team</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#contact">Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <ul class="nav justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                        
                                    </a>
                                
                            </li>
                            <li class="nav-item2 iq-mlr-0">
                                <a class="nav-link button" data-toggle="modal" data-target="#loginModal"   >Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header END -->
     <!-- Login Modal -->




    <!-- banner -->
    <div id="home" class="iq-banner-3">
        <div id="particles-js"></div>
        <div class="banner-info">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="banner-text text-left iq-font-white">
                        	<br>
                            <h1 class="iq-font-white iq-tw-9 iq-mb-20">The  
                              <b class="iq-font-green">Isaiah</b> Project</h1>
                          

                            <p > A network enterprise dedicated to transforming our communities through our shared resources and prudent investments. </p>
                             <a href="/register" class="button iq-mt-20 iq-ml-10">Request Access</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ico-img">
                            <img class="img-fluid" src="images/banner/02.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner -->
    <!-- Main-Contain -->
    <div class="main-contain">
        <div class="text-center text-muted delimiter"><p><%= error %> </p></div>
        <!-- What is OVEX -->
        <section id="iq-about" class="overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center" >
                        <img src="images/about/04.png"  class="img-fluid wow fadeInLeft" data-wow-duration="1s" alt="about_img">
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <div class="heading-title left">
                            <small class="iq-font-green">About Us</small>
                            <h2 class="iq-tw-6">Why Choose Us?</h2>
                        </div>
                        <P>Here is 3 Easy Steps to Busy & Sell Bitcoin. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
                        <p>Here is 3 Easy Steps to Busy & Sell Bitcoin. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        <a  class="iq-font-blue "  data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">  <b>Read More ...</b></a></p>
                        <div class="collapse" id="collapseExample">
  
    <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
  
</div>


                        <a class="button iq-mt-20" href="javascript:void(0)" role="button">Register Now</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
        <!-- What is OVEX END -->
        <!-- What is OVEX -->
        <section id="ico" class="overview-block-ptb">
        	<div class="container">
                <div class="row">
                    <div class="col-sm-12 align-self-center">
                       <div class="heading-title center">
                            <small class="iq-font-green" >FIVE PILLARS</small>
                            <h2 class="iq-tw-6">Five Transformative Systems
                   One Goal
</h2>
<P>Here is 3 Easy Steps to Busy & Sell Bitcoin. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</P>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="iq-pricing">
                            <span class="icon"><i aria-hidden="true" class="fa fa-home"></i></span>
                            <div class="pricing-header">
                                <h3 class="title">The Exodus Movement</h3>
                                <span class="price-value"></span>
                            </div>
                            <blockquote>
                            A personal empowerment tool and  economic multiplier that enables you to invest in the flourishing of those in front, and those coming behind you.
 
A movement built on the idea of the cyclical re-distribution and multiplication of our resources.   
                           </blockquote>
                            <a class="button" data-toggle="modal" data-target="#Exodus">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="iq-pricing">
                            <span class="icon"><i aria-hidden="true" class="fa fa-home
"></i></span>
                            <div class="pricing-header">
                                <h3 class="title">The Excange</h3>
                                <span class="price-value"></span>
                            </div>
                             <blockquote>
                          Ubuntu - the connectedness that exists or should exist between people.
                           Ubuntu refers to behaving well towards others or acting in ways that benefit the community. Such acts could be as simple as </blockquote>
                            <a class="button" data-toggle="modal" data-target="#Exchange">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="iq-pricing">
                            <span class="icon"><i aria-hidden="true" class="fa fa-home"></i></span>
                            <div class="pricing-header">
                                <h3 class="title">The Genesis Marketplace</h3>
                                <span class="price-value"></span>
                            </div>
                             <blockquote>
                           A crypto-currency based investment platform enabling members to turn their earned dollars into a compounding tool for long-term wealth creation.

                          
                           Utilizing and bringing platforms that already exists we can be at the </blockquote>
                            <a class="button" href="#">Read More</a>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                <div class="col-lg-2 col-md-2 col-sm-12">
                </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="iq-pricing">
                            <span class="icon"><i aria-hidden="true" class="fa fa-home"></i></span>
                            <div class="pricing-header">
                                <h3 class="title">The 12 Tribes</h3>
                                <span class="price-value"></span>
                            </div>
                             <blockquote>
                           A corporate and personal investing tool that enables you to gather and mobilize your family and friends into funding your own businesses, buying your own land. Your inheritance.
                           </blockquote>
                            <a class="button" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                        <div class="iq-pricing">
                            <span class="icon"><i aria-hidden="true" class="fa fa-home"></i></span>
                            <div class="pricing-header">
                                <h3 class="title">The Mustard Sea Dreams</h3>
                                <span class="price-value"></span>
                            </div>
                            <blockquote>
                           A self-funded benevolence based system that will enable others to harvest carefully sown seeds with the aid of transformatively radical acts of giving.
                           </blockquote>
                            <a class="button" href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12">
                    </div>
                </div>
            </div>

        </section>
        <!-- What is OVEX END -->
        <!-- About Us -->
        <section id="product" class="overview-block-pb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <small class="iq-font-green">Features</small>
                            <h2 class="title iq-tw-6">Ecosystem key features</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/antivirus.png" alt="icon">
                                <h6>Safe & Secure</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/ether.png" alt="icon">
                                <h6>Ethereum</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon active">
                                <img src="images/icon/credit-card.png" alt="icon">
                                <h6>Easy Payment</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/daily-cash.png" alt="icon">
                                <h6>24/7 Withdrawl</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/hourglass.png" alt="icon">
                                <h6>No Dilution</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row iq-mt-30">
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/hourglass.png" alt="icon">
                                <h6>No Dilution</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/reliability.png" alt="icon">
                                <h6>Reliable</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon active">
                                <img src="images/icon/daily-cash.png" alt="icon">
                                <h6>Easy Payment</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/ether.png" alt="icon">
                                <h6>Ethereum</h6>
                            </div>
                        </div>
                        <div class="col-lg col-md-4 iq-r-mt-40">
                            <div class="iq-small-icon">
                                <img src="images/icon/antivirus.png" alt="icon">
                                <h6>Safe & Secure</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Us -->
        <!-- Tranding platform -->
        <!-- <section id="token" class="iq-Tranding-platform white-bg  overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <small class="iq-font-green" style="color:#2cbbb4;">Profit</small>
                            <h2 class="title iq-tw-6" style="">Investment Plan</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Token Name:</td>
                                        <td>Tip</td>
                                    </tr>
                                    <tr>
                                        <td>Token Platform:</td>
                                        <td>Ethereum</td>
                                    </tr>
                                    <tr>
                                        <td>Token Standard:</td>
                                        <td>REC150</td>
                                    </tr>
                                    <tr>
                                        <td>Max. Supply (Hard Cap):</td>
                                        <td>100,000,000</td>
                                    </tr>
                                    <tr>
                                        <td>Available for Purchase: </td>
                                        <td>70,000,000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Pre-Sale Stage 1</td>
                                        <td>15-1 May 2019: 40% bonus, 1 Tip ~ $14</td>
                                    </tr>
                                    <tr>
                                        <td>Pre-Sale Stage 2</td>
                                        <td>1-5 May 2019: 20% bonus, 1 Tip ~ $28</td>
                                    </tr>
                                    <tr>
                                        <td>Pre-Sale Stage 3</td>
                                        <td>9-14 May 2019: 10% bonus, 1 Tip ~ $30</td>
                                    </tr>
                                    <tr>
                                        <td>Main ICO</td>
                                        <td>28 May – 30 June: 0% bonus, 1 Tip ~ $33</td>
                                    </tr>
                                    <tr>
                                        <td>Emission Rate: </td>
                                        <td>No period</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                   --><!--  <div class="col-sm-12 iq-mt-60">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">Token Sale Proceeds</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div> --> 
                    <!-- <div class="col-sm-12">
                        <div id="chartnew"></div>
                   </div> 
                </div>
            </div>
        </section> -->
        <!-- Tranding platform END -->
        <!--================================
            Our Great Features -->
       
        <!--================================
            Our Great Features -->
        <!-- timeline -->
        <section id="road" class="iq-timeline-1 overview-block-ptb iq-font-white iq-bg-fixed">
           <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="heading-title left">
                            <small class="iq-font-green">Our Essentials</small>
                            <h2 class="iq-tw-6">User Base</h2>
                        </div>
                        <P style="color:black">We are cycling our growth in groups divisible by eight (8). Utilizing this method we will be strategic in our system allowances and growth so that this will enable us to test and refine the  platform adjusting for ease of use and auditability.   </P>
                       
                       
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <img src="images/about/01.png" class="img-fluid" alt="about_img">
                    </div>
                </div>
            </div>
        </section>



        <!-- timeline -->
 <section class="grey-bg overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <small class="iq-font-green">Simple steps</small>
                            <h2 class="title iq-tw-6 ">Steps to Follow</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4 iq-mt-30">
                        <div class="iq-feature6 iq-mt-50">
                            <div class="iq-icon yellow-bg">
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-7">Step 1</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 iq-mt-30">
                        <div class="iq-feature6 iq-mt-50">
                            <div class="iq-icon yellow-bg">
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-7">Step 2</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 iq-mt-30">
                        <div class="iq-feature6 iq-mt-50">
                            <div class="iq-icon yellow-bg">
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-7">Step 3</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 iq-mt-30">
                        <div class="iq-feature6 iq-mt-50">
                            <div class="iq-icon yellow-bg">
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-7">Step 4</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 iq-mt-30">
                        <div class="iq-feature6 iq-mt-50">
                            <div class="iq-icon yellow-bg">
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-7">Step 5</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley ipsum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 iq-mt-30">
                        <div class="iq-feature6 iq-mt-50">
                            <div class="iq-icon yellow-bg">
                                <i aria-hidden="true" class="fa fa-home"></i>
                            </div>
                            <div class="fancy-content">
                                <h5 class="iq-tw-7">Step 6</h5>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry, when an unknown printer took a galley ipsum.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=================================
            Super Team -->
        <section id="team" class="overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <small class="iq-font-green">Executive Team</small>
                            <h2 class="title iq-tw-6">Team Members</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-30 justify-content-center">
                    <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/01.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="45363035352a37310534322c292a6b262a28">[email&#160;protected]</span></a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">Rinks Cooper</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/02.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="acdfd9dcdcc3ded8ecdddbc5c0c382cfc3">[email&#160;protected]</span>m</a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">JD Scot</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/03.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="97e4e2e7e7f8e5e3d7e6e0fefbf8b9f4f8fa">[email&#160;protected]</span></a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">Haris Morgan</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/04.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="285b5d5858475a5c68595f414447064b4745">[email&#160;protected]</span></a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">Nik Jorden</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=================================
            Super Team-->
        <!--=================================
            Super Team -->
        <section class="overview-block-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="heading-title">
                            <h2 class="title iq-tw-6">Executive Advisor</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-30 justify-content-center">
                    <div class="col-lg-3 col-md-3 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/01.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="07747277776875734776706e6b682964686a">[email&#160;protected]</span></a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">Rinks Cooper</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/02.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="483b3d3838273a3c08393f212427662b2725">[email&#160;protected]</span></a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">JD Scot</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 iq-mtb-15">
                        <div class="iq-our-team-2 text-center">
                            <div class="team-blog mb-30">
                                <div class="team-images"> <img class="img-fluid" src="images/team/03.jpg" alt=""> </div>
                                <div class="team-description">
                                    <div class="mt-10">+0123 456 789</div>
                                    <div><a href="javascript:void(0)" class="text-white"><span class="__cf_email__" data-cfemail="bdcec8cdcdd2cfc9fdcccad4d1d293ded2d0">[email&#160;protected]</span></a></div>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-facebook"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-twitter"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-pinterest-p"></i> </a> </li>
                                        <li> <a href="javascript:void(0)"> <i class="fa fa-dribbble"></i> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <h6 class="iq-tw-6 iq-mt-10"><a href="javascript:void(0)">Haris Morgan</a></h6>
                            <p class="iq-mb-0">CEO, Qwilo</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=================================
            Super Team-->


	<div class="iq-news overview-block-ptb grey-bg">
            <div class="container">
                <div class="row justify-content-center">
                	 <div class="col-sm-12">
                        <div class="heading-title">
                            <small class="iq-font-green">100% Customer Satisfaction</small>
                            <h2 class="title iq-tw-6">Customer Reviews</h2>
                           
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-12 col-md-12 text-center">
                        <img src="images/speack.png" alt="">
                        <div class="iq-testimonial text-center">
                            <div id="testimonial-slider" class="owl-carousel owl-theme owl-loaded" data-nav-dots="true" data-nav-arrow="false" data-items="1" data-xs-items="1" data-sm-items="1" data-md-items="1" data-lg-items="1" data-autoplay="true">
                                <div class="testimonial ">
                                    <p class="description ">
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                                    </p>
                                    <h5 class="iq-tw-6 ">Rinks Cooper</h5>
                                    <span>CEO, CoinEx</span>
                                </div>
                                <div class="testimonial ">
                                    <p class="description ">
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                                    </p>
                                    <h5 class="iq-tw-6 ">JD Scot</h5>
                                    <span>CEO, CoinEx</span>
                                </div>
                                <div class="testimonial ">
                                    <p class="description ">
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.
                                    </p>
                                    <h5 class="iq-tw-6 ">Haris Morgan</h5>
                                    <span>CEO, CoinEx</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- FAQ -->
        <section id="iq-faq" class="iq-anything overview-block-pt ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="heading-title">
                            <small class="iq-font-green">Ask Anything</small>
                            <h2 class="title iq-tw-6">Frequently Asked Questions</h2>
                            <p>Lorem Ipsum is simply dummy text ever sincehar the 1500s, when an unknownshil printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 mt-40">
                        <div class="iq-accordion">
                            <div class="iq-ad-block ad-active"> <a href="javascript:void(0)" class="ad-title iq-tw-6">Ipsum is simply dummy the printing?</a>
                                <div class="ad-details">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                            </div>
                            <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6">Dummy the printing and type setting?</a>
                                <div class="ad-details">It has survived not only five centuries, but also the leap into electronic typesetting. It has survived not only five centuries, but also the leap into electronic typesetting.</div>
                            </div>
                            <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6">Standard dummy since the 1500s?</a>
                                <div class="ad-details">It has survived not only five centuries, but also the leap into electronic typesetting. It has survived not only five centuries, but also the leap into electronic typesetting.</div>
                            </div>
                            <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6">It has survived five centuries?</a>
                                <div class="ad-details">It has survived not only five centuries, but also the leap into electronic typesetting. It has survived not only five centuries, but also the leap into electronic typesetting.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- FAQ END -->
        <!-- Clients -->
        <!-- <div class="iq-our-clients iq-ptb-60 light-bg">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-12 col-md-12 ">
                        <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="7" data-items-laptop="6" data-items-tab="5" data-items-mobile="2" data-items-mobile-sm="1" data-margin="30">
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/01.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/02.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/03.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/04.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/05.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/06.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/01.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/02.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/03.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/04.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/05.png" alt="#"></a></div>
                            <div class="item"> <a href="clients.html"><img class="img-fluid center-block" src="images/clients/white/06.png" alt="#"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Clients -->
    <!-- </div> -->
    <!-- Footer -->
    <footer id="contact" class="iq-footer" style="margin-top:10px;">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 iq-mtb-60">
                        <div class="logo">
                            <img id="logo_img_2" class="img-fluid" src="images/logo.png" alt=" ">
                            <div class="iq-font-black iq-mt-15 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12 iq-mtb-60 footer-menu">
                        <h5 class="small-title iq-tw-5 iq-font-black">Menu</h5>
                        <ul class="iq-pl-0">
                            <li><a href="# ">Home</a></li>
                            <li><a href="# ">About Us</a></li>
                            <li><a href="# ">Services</a></li>
                            <li><a href="# ">Faqs</a></li>
                            <li><a href="# ">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 iq-contact iq-mtb-60">
                        <h5 class="small-title iq-tw-5 iq-font-black">Contact Tip</h5>
                        <div class="iq-mb-30">
                            <div class="blog"><i class="ion-ios-telephone-outline"></i>
                                <div class="content ">
                                    <div class="iq-tw-6 title ">Phone</div> +0123 456 789</div>
                            </div>
                        </div>
                        <div class="iq-mb-30">
                            <div class="blog "><i class="ion-ios-email-outline"></i>
                                <div class="content ">
                                    <div class="iq-tw-6 title ">Mail</div> <a href="https://iqonic.design/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="3a575b53567a595553545f4214595557">[email&#160;protected]</a></div>
                            </div>
                        </div>
                        <div class="blog"><i class="ion-ios-location-outline"></i>
                            <div class="content ">
                                <div class="iq-tw-6 title ">Address</div> 1234 North Luke Lane, South Bend,IN 360001</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 iq-mb-60">
                        <div class="call-back">
                            <h5 class="small-title iq-tw-5 iq-font-white">Contact Us</h5>
                            <form>
                                <div class="form-group iq-mb-20">
                                    <input type="text" class="form-control" id="exampleInputName" placeholder="Enter Name">
                                </div>
                                <div class="form-group iq-mb-20">
                                    <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email">
                                </div>
                                <div class="form-group iq-mb-20">
                                    <textarea class="form-control" rows="5" style="height:80px;">
Your message
</textarea>
                                </div>
                                <a class="button" href="">Submit</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom iq-ptb-20 ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 align-self-center">
                        <div class="iq-copyright iq-font-white">© Copyright 2020 Tip Developed by <a href="https://www.fiverr.com/thematrix9815" target="_blank">theMatrix.</a></div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="iq-media-blog ">
                            <li><a href="# "><i class="fa fa-twitter "></i></a></li>
                            <li><a href="# "><i class="fa fa-facebook "></i></a></li>
                            <li><a href="# "><i class="fa fa-google "></i></a></li>
                            <li><a href="# "><i class="fa fa-github "></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--=================================
    Footer -->
    <!-- back-to-top -->
    <div id="back-to-top">
        <a class="top" id="top" href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i> </a>
    </div>
    <!-- back-to-top End -->
    <!-- bubbly -->
    <canvas id="canvas1"></canvas>

    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-title text-center">
          <h4>Login</h4>
        </div>
        <div class="d-flex flex-column text-center">
          <form action='/login' method='post'>
            <div class="form-group">
              <input type="email" name="email" class="form-control" id="email1"placeholder="Your email address..." required>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control" id="password1" placeholder="Your password..." required>
            </div>
            <button type="submit" class="btn btn-info btn-block btn-round" style="background-color:#2cbbb4;">Login</button>
          </form>
          
          <div class="text-center text-muted delimiter"><a href="javascript:void(0)">Forgot Password?</a></div>

          <!-- <div class="d-flex justify-content-center social-buttons">
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Twitter">
              <i class="fa fa-twitter"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fa fa-facebook"></i>
            </button>
            <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip" data-placement="top" title="Linkedin">
              <i class="fa fa-linkedin"></i>
            </button>
         
        </div> -->
      </div>
    </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="signup-section">Not a member yet? <a href="/register" class="text-info"> Sign Up</a>.</div>
      </div>
  </div>
</div>
</div>
<!-- Exodus Modal -->
<div class="modal fade" id="Exodus" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header charcol-bg">
        <h5 class="modal-title iq-font-white" id="staticBackdropLabel">The Exodus
Movement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
      <p>
        A personal empowerment tool and  economic multiplier that enables you to invest in the flourishing of those in front, and those coming behind you.

</p>
</div></div>
<div class="row">
        <div class="col-md-12">
<p>
A movement built on the idea of the cyclical re-distribution and multiplication of our resources.   
      </p>
  </div>
      </div>
</div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>

<!-- Exchange Modal -->
<div class="modal fade" id="Exchange" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header charcol-bg">
        <h5 class="modal-title iq-font-white" id="staticBackdropLabel">The Exchange
</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-md-12">
      <p>
        A personal empowerment tool and  economic multiplier that enables you to invest in the flourishing of those in front, and those coming behind you.

</p>
</div></div>
<div class="row">
        <div class="col-md-12">
<p>
A movement built on the idea of the cyclical re-distribution and multiplication of our resources.   
      </p>
  </div>
      </div>
</div>
      <div class="modal-footer">
       
      </div>
    </div>
  </div>
</div>



    <!-- bubbly End -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script data-cfasync="false" src="https://iqonic.design/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-min.js">
    	
  
</script>

     

      <script src="js/popper.min.js"></script>
    <!-- popper JavaScript -->
    <script src="js/popper.min.js"></script>
    <!-- canvas -->
    <script src="js/canvas/canvas2.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All-plugins JavaScript -->
    <script src="js/all-plugins.js"></script>
    <!-- timeline JavaScript -->
    <script src="js/timeline.min.js"></script>
    <!-- canvas JavaScript -->
    <script src="js/lib/canvasjs.min.js"></script>
    <script src="js/lib/particles1.min.js"></script>
    <script src="js/lib/app.js"></script>
    <script src="js/lib/stats.js"></script>
    <!-- amcharts -->
    <script src="js/amcharts/amcharts.js"></script>
    <script src="js/amcharts/serial.js"></script>
    <script src="js/amcharts/export.min.js"></script>   
    <script src="js/amcharts/none.js"></script>
    <script src="js/amcharts/pie.js"></script>
    <!-- Custom JavaScript -->
    <script src="js/custom.js"></script>
</body>

</html>

