<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register Here!</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
 
</head>
<style>
  
p {
    color: grey
}

#heading {
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal
}
.valid-feedback.feedback-icon,
.invalid-feedback.feedback-icon {
    position: absolute;
    width: auto;
    bottom: 10px;
    right: 10px;
    margin-top: 0;
}
.fa-stack{

color:purple;
}


#msform {
    
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
   
   
    margin: 0;
    padding-bottom: 20px;
    position: relative
}


#msform fieldset:not(:first-of-type) {
    display: none
}


#msform input,
#msform textarea,#msform select {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
   border-right:  0px hidden ;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 95%;
     
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}
.bdr{
  border: 1px solid #ccc;
}
#msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #311B92
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}


#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    /*position: relative;*/
    text-align: center;
    font-weight: 400
}
.form-control {
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-right: 0px transparent hidden;
border-radius: 8px;
background-color:white;

}

  form .form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

.input-group-addon{
 
 border: 1px solid #ccc;
 
 border-left: 0px hidden ;
    border-radius: 0px;
    margin-bottom: 20px;
    margin-top: 2px;
    width: 5%;
   
    padding-top:5;
    color: #2C3E50;
    background-color: #ECEFF1;
    
    
    
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}
.calendar-text { margin-top: .3em; }
#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}


#progressbar li.active:before,
#progressbar li.active:after {
    background: #673AB7
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.mt-30{
margin:30px;
}
.specific{
    border:1px solid black;
}
  </style>

<body>
  <nav class="navbar navbar-expand-lg " style="height:100px; background-color: #0b071d; ">
  <a class="navbar-brand" href="#" style="color:white">The Isaiah Project</a>
  
  
</nav>
<div class="container" style="border:1px solid #0b071d">        
   
    <div class="row justify-content-center" style="width:60%;height: 60%;margin: auto; ">
        
           
         
        <div class=" col-md-12 col-sm-12  p-0 mt-3 mb-2 " >
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3 ">
                <h2 id="heading">Sign Up Your User Account</h2>
               
                <div class="alert alert-danger" id="message" role="alert">
  Enter/Select all the information.
</div>
<div class="alert alert-danger" id="message2" role="alert">
    The password and confirmation password do not match.
  </div>
  <div class="alert alert-danger" id="message3" role="alert">
    Password must be 8 characters long.
  </div>
                <form id="msform" action="/register" method="post">
                    <!-- progressbar -->
                   
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> <br> <!-- fieldsets -->
                    <% if (msg=="NO" && failure=="NO") { %>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Select Your Priorities</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 1 - 4</h2>
                                </div>
                            </div>
                          <!--   <div class="row"> -->

                          <div class="input-group mt-3">
   
    <input type="text" class="form-control" id="opt1" onclick="fun('opt1',0)" value="option 1" readonly >
    <span class="input-group-addon "><!-- Create an icon wrapped by the fa-stack class -->
      <span class="fa-stack invisible">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
            2
    </strong>
</span>
</span>
  </div>
   <div class="input-group mt-3">
   
    <input type="text" class="form-control" id="opt2" onclick="fun('opt2',1)" value="option 2" readonly >
    <span class="input-group-addon "><!-- Create an icon wrapped by the fa-stack class -->
      <span class="fa-stack invisible">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
            2
    </strong>
</span>
</span>
  </div>
  <div class="input-group mt-3">
   
    <input type="text" class="form-control" id="opt3" onclick="fun('opt3',2)" value="option 3" readonly >
    <span class="input-group-addon "><!-- Create an icon wrapped by the fa-stack class -->
      <span class="fa-stack invisible">
    <!-- The icon that will wrap the number -->
    <span class="fa fa-circle-o fa-stack-2x"></span>
    <!-- a strong element with the custom content, in this case a number -->
    <strong class="fa-stack-1x">
            3
    </strong>
</span>
</span>
  </div>
  <div class="input-group mt-3">
   
    <input type="text" class="form-control" id="opt4" onclick="fun('opt4',3)" value="option 4" readonly >
    <span class="input-group-addon "><!-- Create an icon wrapped by the fa-stack class -->
      <span class="fa-stack  invisible">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <strong class="fa-stack-1x ">27</strong>
</span>
</span>
  </div>
                          
                        </div> <input type="button"  id="button1" name="next" class="next action-button" value="Next" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 2 - 4</h2>
                                </div>
                            </div> 
                           <label >First Name: *</label> <input style="border: 1px solid #ccc" type="text" id="fname" name="fname" class="specific" required placeholder="First Name"/> 

                          <label 
                            >Last Name *</label> <input type="text" style="border: 1px solid #ccc"  name="lname" id="lname" required placeholder="Last Name"/>
                            <label class="">Email: *</label> <input type="email" style="border: 1px solid #ccc"  required name="email" id="email" placeholder="Enter Email"/> 
                             <label class="">Password: *</label> <input type="password" style="border: 1px solid #ccc"  required name="password" id="pass1" placeholder="Enter password"/> 

                             <label >Confirm Password: *</label> <input type="password" style="border: 1px solid #ccc"  required name="pass2" id="pass2" placeholder="Confirm password" />

                        </div> <input type="button" name="next" id="button2" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Personal Information-2:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 3 - 4</h2>
                                </div>
                            </div> 
                           <label >Address 1*</label> <input required type="text" style="border: 1px solid #ccc"  required id="add1"  name="address1" placeholder="Enter Address ..."/> 

                          <label 
                            >Address 2 <small>(optional)</small>*</label> <input type="text" style="border: 1px solid #ccc"  id="add2"  name="address2" placeholder="Alternate  Address"/>
                             
                              <label >Contact No *</label> <input required type="text" style="border: 1px solid #ccc"  id="phone" required name="phone" placeholder="Enter phone" />

                        </div><input type="Submit" name="submit" id="button3" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                    </fieldset>
                    <!-- <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Verification:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 5</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>Verify Your Email</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">An Verification Email Has been sent to you</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset> -->
                    <% } else if(failure!="NO"){ %>
                        <fieldset>
                            <div class="form-card">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="fs-title">Finish:</h2>
                                    </div>
                                    <div class="col-5">
                                        <h2 class="steps">Step 4 - 4</h2>
                                    </div>
                                </div> <br><br>
                                <h2 class="purple-text text-center"><strong>Failed !</strong></h2> <br>
                                <div class="row justify-content-center">
                                    <div class="col-3"> <img src="/wrong.png" class="fit-image"> </div>
                                </div> <br><br>
                                <div class="row justify-content-center">
                                    <div class="col-7 text-center">
                                        <h5 class="purple-text text-center">This email is already register.</h5>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <% } else{ %>

                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title">Finish:</h2>
                                </div>
                                <div class="col-5">
                                    <h2 class="steps">Step 4 - 4</h2>
                                </div>
                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">Verify your Account! An Email has been sent.</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <%  }  %>
                </form>
            </div>
        </div>
    </div>

  </div>
</div>


</body>
</html>

<script>
  $(document).ready(function(){
document.getElementById('message').style.display='none';
document.getElementById('message2').style.display='none';
document.getElementById('message3').style.display='none';
var current_fs, next_fs, previous_fs; //fieldsets
var opacity;
var current = 1;
var steps = $("fieldset").length;

setProgressBar(current);

$(".next").click(function(){
    document.getElementById('message').style.display='none';
    document.getElementById('message2').style.display='none';
    document.getElementById('message3').style.display='none';
formid=$(this).attr("id");
current_fs = $(this).parent();

next_fs = $(this).parent().next();
result=verify(formid);
if(result==true){
//Add Class Active
$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

//show the next fieldset

next_fs.show();
//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
opacity = 1 - now;

current_fs.css({
'display': 'none',
'position': 'relative'
});
next_fs.css({'opacity': opacity});
},
duration: 500
});
setProgressBar(++current);
}
});

$(".previous").click(function(){

current_fs = $(this).parent();
previous_fs = $(this).parent().prev();

//Remove class active
$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

//show the previous fieldset
previous_fs.show();

//hide the current fieldset with style
current_fs.animate({opacity: 0}, {
step: function(now) {
// for making fielset appear animation
opacity = 1 - now;

current_fs.css({
'display': 'none',
'position': 'relative'
});
previous_fs.css({'opacity': opacity});
},
duration: 500
});
setProgressBar(--current);
});

function setProgressBar(curStep){
var percent = parseFloat(100 / steps) * curStep;
percent = percent.toFixed();
$(".progress-bar")
.css("width",percent+"%")
}

$(".submit").click(function(){
return false;
})

});

var i=0;
var alreadyOpted = [false, false,  false, false];
var value=[1,0,0,0]
function verify(formid)
{
  if(formid=="button1")
  {
  for(i=0;i<4;i++)  
  {
    if(alreadyOpted[i]==false)
    { document.getElementById('message').style.display='block';
      return false;
    }
//button1
  }
return true;}
    
    if(formid=="button2")
    {
      userName=document.getElementById("fname");

      email=document.getElementById("email").value;
      pass1=document.getElementById("pass1").value;
      pass2=document.getElementById("pass2").value;
      if(userName==""||email==""||pass1==""||pass2=="")
      {
        document.getElementById('message').style.display='block';
        return false;
      }
      else if(pass1!=pass2)
      {
        
document.getElementById('message2').style.display='block';
        return false;
      }
     else if(pass1.length<8 || pass2.length<8)
     {
        document.getElementById('message3').style.display='block';
        return false;
     }

    }
    if(formid=="button3")
    {
      add1=document.getElementById("add1");

      add2=document.getElementById("add2").value;
      state=document.getElementById("state").value;
      city=document.getElementById("city").value;
      if(add1==""||state==""||city=="")
      {
        document.getElementById('message').style.display='block';
        return false;
      }
      
      return true;
    }
  return true;
  // alert("Kindly fill all the options");
  
}

function fun(sentId,optNo)
{ 
  if(alreadyOpted[optNo]==false)
  { alreadyOpted[optNo] = true; 
   
    i++;
    
  a=document.getElementById(sentId).value;
  var bidValue = document.getElementsByClassName('fa-stack-1x')[optNo];
  bidValue.innerHTML=i;
  value[optNo]=i;

  element=document.getElementsByClassName('fa-stack')[optNo];
  element.classList.remove("invisible");
}
else{

  alreadyOpted[optNo] = false;
  
  var bidValue = document.getElementsByClassName('fa-stack-1x')[optNo];

 
   
  temp=value[optNo];value[optNo]=0;

  for(var k=0;k<=3;k++)
  {    temp2=value[k];
      if(temp<temp2){
        
       
       
       if(temp2!=0){
        temp2--;
        }
        value[k]=temp2;
        
      document.getElementsByClassName('fa-stack-1x')[k].innerHTML=value[k];
  }
  element=document.getElementsByClassName('fa-stack')[optNo];
  element.classList.add("invisible");
  
}
i--;
}
}

  </script>