<%- include("./headerAdmin.ejs") %>

<%- include("./headerAdmin.ejs") %>

		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						<div class="panel-heading">
							<h3 class="panel-title">Survey Summary</h3>
							<!-- <p class="panel-subtitle">Period: Oct 14, 2020 - Oct 21, 2020</p> -->
                        </div>
                        <div class="container">
						<div class="panel-body">
							<div class="row">
								<div class="col-md-6" >
                                    <!-- <div id="chart_div"></div> -->
                                    <div id="columnchart_material" style="width: 900px; height: 500px;"></div>
								</div>
								<div class="col-md-6">
									
								</div>
								
							</div>
					
					</div>
					</div>
					</div>
					
					
				</div>
			</div>
			
		</div>

	
			
		<%- include("./footerAdmin.ejs") %>

<%- include("./footerAdmin.ejs") %>