<%- include("./header.ejs")  %> 

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content ">
        <div class="container-fluid">
            <div class="panel panel-profile">
                <div class="clearfix">
                    <!-- LEFT COLUMN -->
                    
                        <div  style="width:70%;height:70%; margin:40px auto; box-shadow: 2px 8px 8px 8px #888888;" id='profile-form'>                    
                        <div class="panel-heading">
                        <h3 class="panel-title">Initial Payment</h3>
                        </div>
                        <div class="panel-body">
                            
                                <% if (success) { %>
                               
                                    
                                    <div class="alert alert-success" role="alert" id='error-msg1'>
                                        <script>setTimeout(function(){
                                            document.getElementById('error-msg1').style.display = 'none';
                                         }, 3000);</script>
                                        <%= success %> 
                                      </div>
                                    
                                    <% } %>
                                    <% if (failure) { %>
                               
                                       
                                        <div class="alert alert-danger" role="alert" id='error-msg'>
                                            <script>setTimeout(function(){
                                                document.getElementById('error-msg').style.display = 'none';
                                             }, 3000);</script>
                                            <%= failure %> 
                                          </div>
                                       
                                        <% } %>
                            
                        <div class="alert alert-warning" role="alert" id='passlen'>
                            Proceed with initial payment to join the system.
                        </div>
                        <form action="/user/pay" method="post"  onsubmit="return verifyAmountOnSubmit()"> 
                        <div class="form-group">
                            <label for="mobileInput">Enter Amount:</label>
                                <input type="number" min="100"class="form-control" onkeyup="verifyAmount()" name="amount" id="paymentAmount"  required>
                               <small>Amount should be in multiples of 100</small>
                        </div>
                        <div class="form-group">
                            <label for="mobileInput">Your Wallet Public Key:</label>
                                <input type="password" class="form-control"  id="walletkey" name = "walletkey">
                                      
                        </div>
                             
                            

                            <div class="text-center"><button type="submit"   class="btn btn-primary  btn-lg"><i class="fa fa-pencil"></i> Pay</button></div>
                        </form>
                        <br>
                    

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script>
function verifyAmount()
{ 
   abc= document.getElementById("paymentAmount").value ;
   if(abc=="" || abc==0 || abc<0)
   {
    document.getElementById('paymentAmount').style.border = "thin solid red";
    }
   else if(abc%100==0)
   { 
    document.getElementById('paymentAmount').style.border = "thin solid green";
   }
   else{
    document.getElementById('paymentAmount').style.border = "thin solid red";
   }
   
}
function verifyAmountOnSubmit()
{ 
    abc= document.getElementById("paymentAmount").value ;
   if(abc=="" || abc==0 || abc<=0)
   {
    document.getElementById('paymentAmount').style.border = "thin solid red";
    alert("Enter Amount In Multiple of 100")
    return false;
    }
   else if(abc%100==0)
   { 
    document.getElementById('paymentAmount').style.border = "thin solid green";
    return true;
   }
   else{
   
    document.getElementById('paymentAmount').style.border = "thin solid red";
    alert("Enter Amount In Multiple of 100")
    return false;
   }
   alert("Enter Amount In Multiple of 100")
   return false;
   
}
document.getElementById('notif').style.display = 'none';document.getElementById('notif2').style.display = 'none';
document.getElementById('passlen').style.display = 'none';
function myFunction()
{ 
    document.getElementById('notif').style.display = 'none';document.getElementById('notif2').style.display = 'none';
document.getElementById('passlen').style.display = 'none';
}
function verify()
{ 
var newpass=document.getElementById('newpassword').value;
var oldpass=document.getElementById('confirmpassword').value;

if(newpass.length>=8 && oldpass.length>=8)
{ 
if(newpass!=oldpass)
{
    document.getElementById('notif').style.display = 'block';
    document.getElementById('notif2').style.display = 'block';
    return false;
}
else{
    document.getElementById('notif').style.display = 'none';
    return true;
}
}
else{
element=document.getElementById('passlen');
element.style.display='block';

return false;
}
return false;
}

</script>
    <!-- END MAIN CONTENT -->

<%- include("./footer.ejs") %> 