<%- include("./headerAdmin.ejs") %>
<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">
					<!-- OVERVIEW -->
					<div class="panel panel-headline">
						
						
					<!-- END OVERVIEW -->
					<div class="row">
						<div class="col-md-12">
							<!-- RECENT PURCHASES -->
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">All Groups</h3>
									
									<div class="row">
										<div class="col-md-4">
										
										  </div>
										<div class="col-md-4"></div>
										<div class="col-md-4">
											<input type="text" id="myInput" class="form-control" placeholder="Search ...">
										</div>
									</div>
								</div>
								<script>
									
									window.onload = function(){
										
									  $("#myInput").on("keyup", function() {
										var value = $(this).val().toLowerCase();
										$("#myTable tr").filter(function() {
										  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
										});
									  });
									};
									</script>
								<div class="panel-body no-padding">
									
									<br>
									<div class="container">
										
									</div>
									
									<table class="table table-striped " style="margin-top:2%" id="myTable">
										<thead>
											<tr>
												<th>Sr. No.</th>
												<th>Group ID</th>
												<th>Members Count</th>
                                                <th>Status</th><!-- status can be  InComplete, Complete, Paid -->
                                                
												<th>Action</th>
												

											</tr>
										</thead>
										<tbody>
											
                                            
                                        <tr>
                                            <td>1</td>
                                            <td>5fc1136e1391b2e66c5b8c10</td>
                                            <td>5</td>
                                            <td style="color:red">InComplete</td>
                                            <!-- Group ID to Be Added !-->
                                            <td>
                                            <a href="/admin/edit/ "><i class="fa fa-eye" aria-hidden="true"></i></a></td>

                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>5fc1136e1391b2e66c5b8c10</td>
                                            <td>7</td>
                                            <td style="color:blue">Completed</td>
                                            <!-- Group ID to Be Added !-->
                                            <td>
                                            <a href="/admin/edit/ "><i class="fa fa-eye" aria-hidden="true"></i></a></td>

                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>5fc1136e1391b2e66c5b8c10</td>
                                            <td>7</td>
                                            <td style="color:green">Paid</td>
                                            <!-- Group ID to Be Added !-->
                                            <td>
                                            <a href="/admin/edit/ "><i class="fa fa-eye" aria-hidden="true"></i></a></td>

                                        </tr>
											
										</tbody>
									</table>
								</div>
								<div class="panel-footer">
									Total 5 groups..
								</div>
							</div>
							<!-- END RECENT PURCHASES -->
						</div>
						
						</div> 
					</div>
					
				
				</div>
			</div>
			 <!-- END MAIN CONTENT -->
			
		</div>
		<%- include("./footerAdmin.ejs") %>